<% if @student&.id.present? %>
  <%= form_for( @student, remote: true ) do |form| %>

	<div class="field">
      <%= form.label :name %>
      <%= form.text_field :name ,id: "name_field"%>
    </div>

    <div class="field">
      <%= form.label :f_name %>
      <%= form.text_area :f_name ,id: "fname_field" %>
    </div>

    <div class="action">
      <%= form.submit class: "btn btn-primary btn-sm" %>



    </div>
  <% end %>
  <%else %>
    <%= form_for( :student, remote: true ) do |form| %>
   < <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name ,id: "name_field"%>
    </div>

    <div class="field">
      <%= form.label :f_name %>
      <%= form.text_area :f_name ,id: "fname_field" %>
    </div>

    <div class="action">
      <%= form.submit class: "btn btn-primary btn-sm" %>



    </div> 
  <% end %>
<% end %>

