<td><%= shark.id %></td>
    <td><%= shark.name %></td>
    <td><%= shark.facts %></td>
    <td><%= link_to 'Show', shark %></td>
    <td><%= link_to 'Edit', edit_shark_path(shark), remote: :true %></td>
    <td><%= link_to 'Destroy', shark, method: :delete, remote: :true%></td>